.label-info {
  background-color: #5bc0de; }

.label {
  display: inline;
  padding: 0.1em 0.3em 0.1em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }

#formatsmanager {
  margin-top: 30px;
  width: 100%;
  max-width: 1280px; }
  #formatsmanager .textformat-collapsable {
    cursor: pointer; }
  #formatsmanager .expand-arrow {
    position: relative;
    top: -6px; }
  #formatsmanager .expand-arrow:before {
    content: '\f142'; }
  #formatsmanager .lay-textformat-collapsed .expand-arrow:before {
    content: '\f140'; }
  #formatsmanager .expand-arrow:before {
    font: 400 20px/0 dashicons;
    speak: none;
    display: inline;
    top: 5px;
    right: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    opacity: 0.5; }
  #formatsmanager .format-name, #formatsmanager .format-type-indicator, #formatsmanager .format-html-class {
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap; }
  #formatsmanager .format-name {
    width: 100px; }
  #formatsmanager .format-type-indicator {
    width: 150px; }
  #formatsmanager .format-html-class {
    width: 170px; }
  #formatsmanager .lay-textformat-collapsed .row-wrap {
    display: none; }
  #formatsmanager .lay-textformats-input-group-addon {
    display: inline-block;
    margin-left: 5px; }
  #formatsmanager .variable-font-headline {
    margin-bottom: 10px; }
  #formatsmanager .variable-font-slider input {
    padding-left: 0;
    padding-right: 0; }
  #formatsmanager .variable-font-slider input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 6px 0; }
  #formatsmanager .variable-font-slider input[type=range]:focus {
    outline: none; }
  #formatsmanager .variable-font-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
            box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
    background: #dddddd;
    border-radius: 25px; }
  #formatsmanager .variable-font-slider input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: 0px 0px 0px #666666, 0px 0px 0px #737373;
            box-shadow: 0px 0px 0px #666666, 0px 0px 0px #737373;
    border: 1px solid #bebebe;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px; }
  #formatsmanager .variable-font-slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #dddddd; }
  #formatsmanager .variable-font-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
    background: #dddddd;
    border-radius: 25px; }
  #formatsmanager .variable-font-slider input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #666666, 0px 0px 0px #737373;
    border: 1px solid #bebebe;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: #ffffff;
    cursor: pointer; }
  #formatsmanager .variable-font-slider input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  #formatsmanager .variable-font-slider input[type=range]::-ms-fill-lower {
    background: #dddddd;
    border: 1px solid #bebebe;
    border-radius: 50px;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0); }
  #formatsmanager .variable-font-slider input[type=range]::-ms-fill-upper {
    background: #dddddd;
    border: 1px solid #bebebe;
    border-radius: 50px;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0); }
  #formatsmanager .variable-font-slider input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #666666, 0px 0px 0px #737373;
    border: 1px solid #bebebe;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: #ffffff;
    cursor: pointer;
    height: 6px; }
  #formatsmanager .variable-font-slider input[type=range]:focus::-ms-fill-lower {
    background: #dddddd; }
  #formatsmanager .variable-font-slider input[type=range]:focus::-ms-fill-upper {
    background: #dddddd; }
  #formatsmanager .variable-font-slider-collection-view {
    width: 100%; }
  #formatsmanager button:focus {
    outline: 0 !important; }
  #formatsmanager .delete-format-row {
    width: 80px; }
  #formatsmanager .table > tbody > tr > th.info {
    background-color: #d0efff !important; }
  #formatsmanager th {
    font-size: 14px; }
  #formatsmanager .panel-footer td {
    vertical-align: middle; }
  #formatsmanager td {
    vertical-align: top; }
    #formatsmanager td > * {
      vertical-align: top; }
  #formatsmanager tbody {
    border-top-width: 0 !important; }
  #formatsmanager .format {
    padding-bottom: 50px !important; }
  #formatsmanager .format-type-indicator {
    font-weight: lighter;
    margin-left: 10px; }
  #formatsmanager .format-html-class {
    font-weight: lighter;
    margin-left: 10px;
    color: #ABABAB; }
  #formatsmanager th {
    position: relative;
    padding-left: 30px !important; }
  #formatsmanager .drag-icon {
    top: 0;
    left: 0;
    width: 38px !important;
    height: 47px !important;
    display: inline-block;
    position: absolute;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  #formatsmanager .drag-icon::before {
    background-image: url(../img/drag_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    bottom: 0;
    right: 0;
    top: 13px;
    height: 20px;
    width: 20px;
    content: '';
    display: block;
    left: 6px;
    opacity: 0.2;
    position: absolute; }
  #formatsmanager .format-preview-wrap {
    background-color: white; }
  #formatsmanager .format-name-text-wrap {
    padding-top: 5px;
    display: inline-block; }
  #formatsmanager .textformat-Default .js-delete-row {
    display: none; }
  #formatsmanager .textformat-Default .textformat-type-row {
    display: none; }
  #formatsmanager th {
    height: 47px; }
  #formatsmanager .input-group {
    width: 143px; }
  #formatsmanager .attributes-table tbody tr td:first-child {
    width: 146px !important; }
  #formatsmanager .attributes-table[data-type="Paragraph"] .headline-type-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .line-height-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .headline-type-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .space-bottom-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .space-top-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .text-align-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .text-indent-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .phone-space-top-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .phone-space-bottom-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .tablet-space-top-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Character"] .tablet-space-bottom-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Headline"] .text-indent-row {
    display: none; }
  #formatsmanager .attributes-table[data-type="Headline"] .js-font-style-border-bottom,
  #formatsmanager .attributes-table[data-type="Paragraph"] .js-font-style-border-bottom {
    display: none; }
  #formatsmanager .attributes-table td {
    white-space: nowrap; }
  #formatsmanager .row-wrap {
    background-color: white;
    font-size: 14px; }
  #formatsmanager .font-table th:last-child {
    width: 112px; }
  #formatsmanager .font-table th:first-child {
    width: 290px; }
  #formatsmanager .panel-footer {
    padding-right: 3px; }
  #formatsmanager .formatsmanager-panel {
    margin-bottom: 10px; }
  #formatsmanager .format-preview {
    word-break: break-all; }
  #formatsmanager .format-preview:first-child .preview-type {
    margin-top: 0; }
  #formatsmanager .preview-type {
    margin: 10px 0;
    color: white;
    background-color: #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block; }
  #formatsmanager .format-name-input {
    width: 150px; }
  #formatsmanager .panel-footer select {
    width: 150px; }
  #formatsmanager .panel-footer td {
    position: relative; }
  #formatsmanager .parsley-errors-list {
    display: none; }
  #formatsmanager th:first-child {
    width: 30%; }
  #formatsmanager input[type="number"] {
    width: 109px; }
  #formatsmanager input.colorpicker {
    width: 109px !important; }
  #formatsmanager .font-weight-select {
    width: 109px !important; }
  #formatsmanager .font-select {
    width: 109px !important; }
  #formatsmanager .js-headline-type-select {
    width: 109px !important; }
  #formatsmanager .js-existing-format-type-select {
    width: 109px !important; }
  #formatsmanager .font-style-row button {
    width: 37px !important; }
  #formatsmanager .space-bottom-preview, #formatsmanager .space-top-preview {
    height: 0;
    background-color: #cafcfc; }
  #formatsmanager .space-bottom, #formatsmanager .space-top, #formatsmanager .tablet-space-top, #formatsmanager .tablet-space-bottom, #formatsmanager .phone-space-top, #formatsmanager .phone-space-bottom {
    background-color: #cafcfc; }
  #formatsmanager .phone-font-size-row > td {
    padding-top: 30px !important; }
  #formatsmanager .tablet-font-size-row > td {
    padding-top: 30px !important; }

#formatsmanager_json, #fontmanager_json, #formatsmanager_defaultformat_backup_json {
  width: 100%;
  max-width: 900px;
  height: 200px;
  display: none; }
